version: '3.8'
services:
  vprodb:
    build: 
      context: ./Dockerfiles/db
    image: sriuday19/vprofiledb
    container_name: vprodb
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=vprodbpass
      - MYSQL_DATABASE=accounts
    networks:
      - vprofile-net

  vprocache01:
    image: memcached
    ports:
      -  "11211:11211"
    networks:
      - vprofile-net
  
  vpromq01:
    image: rabbitmq
    ports:
      - "15672:15672"
    env:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    networks:
      - vprofile-net

  vproapp:
    build: 
      context: ./Dockerfiles/app
    image: sriuday19/vprofileapp
    container_name: vproapp
    ports:
      - "8080:8080"
    networks:
      - vprofile-net
    depends_on:
      - vprodb

  vproweb:
    build: 
      context: ./Dockerfiles/web
    image: sriuday19/vprofileweb
    container_name: vproweb
    ports:
      - "80:80"
    networks:
      - vprofile-net
  

networks:
  vprofile-net:
    